- name: Suppression de l'ancienne version
  shell: |
    rm -rf /var/www/{{frontFolder}}/*

- name: Copie du build
  copy:
    src: ~/meteor/dist/
    dest: /var/www/{{frontFolder}}/

- name: Marquage de la version
  copy:
    content: "{\"version\": \"{{ lookup('env','CIRCLE_SHA1') }}\", \"tag\": \"{{ lookup('env','CIRCLE_TAG') }}\"}"
    dest: /var/www/{{frontFolder}}/version.json